{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-lg-4 col-md-4 ">
                <div class="form-login shadow-lg border" style="padding: 30px; margin: 30% auto">

                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                {% trans %}You are logged in as{% endtrans%} {{ app.user.username }}, <a
                                        href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-4 font-weight-normal text-center ">{% trans %}Sign in{% endtrans %}</h1>


                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user p-1"></i> </span>
                            </div>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                                   placeholder="{% trans %}Enter username{% endtrans %}" class="form-control input-field" required
                                   autofocus>
                        </div>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-lock p-1"></i> </span>
                            </div>
                            <input type="password" name="password" id="inputPassword" placeholder="{% trans %}Enter password{% endtrans %}"
                                   class="form-control input-field" required>
                        </div>


                        <div class="form-group mt-2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="_remember_me"
                                       id="customControlInline">
                                <label class="custom-control-label" for="customControlInline">{% trans %}Remember me{% endtrans %}</label>
                            </div>
                        </div>


                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">

                        <button class="btn btn-block btn-primary bg-info mt-3" type="submit">
                            {% trans %}Sign In{% endtrans %}
                        </button>

                    </form>

                    <div class="mt-4">
                        <div class="d-flex justify-content-center text-center links">
                            {% trans %}Don't have an account?{% endtrans%} <a href="{{ path('app_register') }}" class="ml-2">{% trans %}Sign up{% endtrans %}</a>
                        </div>
                        <div class="d-flex justify-content-center links">
                            <a href="{{ path('app_forgot_password_request') }}">{% trans %}Forgot your password?{% endtrans %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
