{% extends 'base.html.twig' %}

{% block title %}Quiz rating{% endblock %}
{% block navigation %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('quizzes') }}">Quizzes</a>
            </li>
            <li class="nav-item">
            </li>
        </ul>
        <a class="nav-link btn btn-outline-info" href="{{ path('app_logout') }}">logout</a>
    </div>
    </nav>
{% endblock %}
{% block content %}
<table class="table table-striped table-bordered" id="table-questions">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th>Username</th>
        <th>result</th>
    </tr>
    </thead>

    <tbody>
        {% for user in rating %}
            <tr>
                {% set count = count + 1 %}
                <td>{{ count }}</td>
                <td>{{ user.user.username }}</td>
                <td>{{ user.result }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>{{ place }}</td>
            <td>{{ userInRating.user.username }}</td>
            <td>{{ userInRating.result }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
