{% extends 'base.html.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-12 col-lg-4 col-md-4 ">
                <div class="form-login shadow-lg border" style="padding: 30px; margin: 30% auto">

                    {{ form_start(registrationForm) }}
                    <h1 class="h3 mb-3 font-weight-normal text-center mb-4">{% trans %}Sign up{% endtrans %}</h1>

                    {% if form_errors(registrationForm.email) %}

                        <div class="alert alert-danger">
                            {{ form_errors(registrationForm.email) }}
                        </div>

                    {% elseif form_errors(registrationForm.username) %}
                        <div class="alert alert-danger">
                            {{ form_errors(registrationForm.username) }}
                        </div>
                    {% elseif form_errors(registrationForm.plainPassword) %}
                        <div class="alert alert-danger">
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>
                    {% endif %}
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user p-1"></i> </span>
                        </div>
                        {{ form_widget(registrationForm.username,{'attr': {'class': 'form-control',
                            'placeholder': "Enter username"}}) }}
                    </div>
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                        </div>
                        {{ form_widget(registrationForm.email,{'attr': {
                            'class': 'form-control',
                            'placeholder': "Enter email"}
                        }) }}
                    </div>

                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        </div>
                        {{ form_widget(registrationForm.plainPassword,{'attr': {
                            'class': 'form-control',
                            'placeholder': "Enter password"}
                        }) }}

                    </div>


                    <div class="form-group login-group form-check mt-3">{{ form_label(registrationForm.agreeTerms,null, {
                            'attr' :{'class': 'form-check-label mt-4'},
                            'label' : 'Agree terms'
                        }) }}

                        {{ form_widget(registrationForm.agreeTerms, {
                            'attr' :{'class': 'form-check-label',
                            }
                        }) }}
                    </div>
                    <button class="btn btn-block btn-primary bg-info mt-3" type="submit">{% trans %}Register{% endtrans %}</button>
                    <p class="text-center mt-4">{% trans %}Have an account?{% endtrans %}<a href="{{ path('app_login') }}">{% trans %}Log In{% endtrans %}</a></p>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
