{% extends 'admin_base.twig' %}


{% block title %}Hello AdminController!{% endblock %}
{% block navigation %}


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('mainpage') }}">Admin Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_users') }}">Users control</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('admin_quizes') }}">Quizzes control</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_questions') }}">Questions control</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Create
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('create_question') }}">Create Question</a>
                        <a class="dropdown-item" href="{{ path('create_quiz') }}">Create Quiz</a>
                    </div>
                </li>
            </ul>
            <a class="nav-link btn btn-secondary" href="{{ path('app_logout') }}">logout</a>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <h1>Hello Admin ✅</h1>
{% endblock %}
{% block javascripts %}
{% endblock %}
