{% extends 'admin_base.twig' %}


{% block title %}Admin home{% endblock %}
{% block navigation %}


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('mainpage') }}">Admin Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_users') }}">Users control</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('admin_quizes') }}">Quizzes control</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_questions') }}">Questions control</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Create
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('initial_create_question') }}">Create Question</a>
                        <a class="dropdown-item" href="{{ path('create_quiz') }}">Create Quiz</a>
                    </div>
                </li>
            </ul>
            <a class="nav-link btn btn-outline-info" href="{{ path('app_logout') }}">logout</a>
        </div>
    </nav>
{% endblock %}

{% block content %}

<section class="view intro-2"
         style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/62.jpg');">
    <div class="mask">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row flex-center pt-5 mt-3">
                <div class="col-md-12 col-lg-6 text-center text-md-left margins">
                    <div class="dark-grey-text">
                        <h1 class="display-4 title mt-md-5 mt-lg-0 font-weight-bold wow fadeIn" data-wow-delay="0.3s">
                            <strong>Quizotopia</strong>
                        </h1>
                        <hr class="hr-light wow fadeIn" data-wow-delay="0.3s">
                        <h6 class="grey-text wow fadeIn" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit. Rem repellendus quasi fuga nesciunt
                            dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae
                            iste.
                        </h6>
                        <br>
                        <a class="btn btn-white btn-rounded blue-text font-weight-bold ml-lg-0 wow fadeIn"
                           data-wow-delay="0.3s">Portfolio</a>
                        <a class="btn pink-gradient white-text btn-rounded font-weight-bold wow fadeIn"
                           data-wow-delay="0.3s">Learn more
                        </a>
                    </div>
                </div>

                <div class="col-md-12 col-lg-6 wow fadeIn" data-wow-delay="0.3s">
                    <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

</header>
<!-- Navigation & Intro -->

<!-- Main content -->
<main>



    <div class="container">
{##}
        <!-- Section: About -->
        <section id="about" class="about mt-5 mb-5 py-3 wow fadeIn" data-wow-delay="0.2s">
{##}
            <!-- Grid row -->
            <div class="row pt-2 mt-5">
{##}
                <!-- Grid column -->
                <div class="col-lg-5 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">
                    <!-- Image -->
                    <img src="https://mdbootstrap.com/img/Photos/Others/images/66.jpg" class="img-fluid z-depth-1 rounded"
                         alt="My photo">
                </div>
                <!-- Grid column -->
{##}
                <!-- Grid column -->
                <div class="col-lg-6 ml-auto col-md-12 wow fadeIn" data-wow-delay="0.4s">
{##}
                    <!-- Secion heading -->
                    <h3 class="mb-5 dark-grey-text title font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                        <strong>Hi Admin, do what you want</strong>
                    </h3>
{##}
                    <!-- Description -->
                    <p align="justify" class="grey-text">You logged in as Admin. As the admin you can do a lot of things. To see what options you available scroll down.</p>

                </div>
                <!-- Grid column -->
{##}
            </div>
            <!-- Grid row -->
{##}
        </section>
        <!-- Section: About -->
{##}
        <hr>
{##}
        <!-- Section: Features v.4 -->
        <section id="features" class="mb-5 pb-4">
{##}
            <!-- Section heading -->
            <h3 class="text-center title my-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                <strong>admin capabilities</strong>
            </h3>

            <!-- Section sescription -->
            <p class="text-center w-responsive mx-auto my-5 grey-text wow fadeIn" data-wow-delay="0.2s">
               </p>
{##}
            <!-- Grid row -->
            <div class="row features-small wow fadeIn" data-wow-delay="0.4s">
{##}
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12">
                    <!-- Grid row -->
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fa fa-edit orange-text fa-2x"></i>
                        </div>
                        <div class="col-10 mb-2">
                            <h5 class="font-weight-bold title">Questions</h5>
                            <p class="grey-text">Do you want to delete, edit question? No problem!
                            </p>
                        </div>
                    </div>
                    <!-- Grid row -->
{##}
                    <!-- Grid row -->
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fa fa-cogs orange-text fa-2x"></i>
                        </div>
                        <div class="col-10 mb-2">
                            <h5 class="font-weight-bold title">Users</h5>
                            <p class="grey-text">Want to block user? You can do this in one click</p>
                        </div>
                    </div>
                    <!-- Grid row -->
{##}
                    <!-- Grid row -->
                    <div class="row">
                        <div class="col-2">
                            <i class="fa fa-book orange-text fa-2x"></i>
                        </div>
                        <div class="col-10 mb-2">
                            <h5 class="font-weight-bold title">Quizzes</h5>
                            <p class="grey-text">Create, edit, see leaders of quiz. Everything on your taste. </p>
                        </div>
                    </div>
                    <!-- Grid row -->
                </div>
                <!-- Grid column -->
{##}
                <!-- Grid column -->
                <div class="col-lg-4 col-md-12 mb-1 text-center text-md-left">
                    <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt=""
                         class="z-depth-0 img-fluid">
                </div>
                <!-- Grid column -->
{##}
                <!-- Third column -->
                <div class="col-lg-4 col-md-12">
                    <!-- Grid row -->
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fa fa-question-circle orange-text fa-2x"></i>
                        </div>
                        <div class="col-10 mb-2">
                            <h5 class="font-weight-bold title">Create questions</h5>
                            <p class="grey-text">There are no questions in the world that you don't want to add. </p>
                        </div>
                    </div>
                    <!-- Grid row -->
{##}
                    <!-- Grid row -->
                    <div class="row mb-3">
                        <div class="col-2">
                            <i class="fa fa-users orange-text fa-2x"></i>
                        </div>
                        <div class="col-10 mb-2">
                            <h5 class="font-weight-bold title">Create quizzes</h5>

                            <p class="grey-text">
                                that's what the project was for, isn't it?</p>
                        </div>
                    </div>
                    <!-- Grid row -->
{#                    <div class="row">#}
{#                        <div class="col-2">#}
{#                            <i class="fa fa-gem orange-text fa-2x"></i>#}
{#                        </div>#}
{#                        <div class="col-10 mb-2">#}
{#                            <h5 class="font-weight-bold title">High quality</h5>#}
{#                            <p class="grey-text">#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
                    <!-- Grid row -->
                </div>
                <!-- Third column -->
            </div>
{#            <!-- Grid row -->#}
{% endblock %}
{% block javascripts %}
{% endblock %}
