{% extends 'admin_base.twig' %}

{% block title %}Quiz creation{% endblock %}

{% block content %}


    <div class="col-12 col-lg-4 col-md-4 mt-4 mb-4">
        {{ form_start(CreateQuizForm) }}
        <div class="form-group input-group">
            <div class="alert-danger text-center">{{ error | trans }}</div>
            {{ form_widget(CreateQuizForm.quizName, {'attr': {'class': 'form-control',
                'placeholder': "Enter Quiz name"}}) }}
        </div>
        <table class="table table-hide responsive nowrap" id="q-table" style="display: none;">
            <thead>
            <tr>
                <th></th>
                <th>{% trans %}Question{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for question in CreateQuizForm.quizQuestions %}
                <tr>
                    <td>{{ form_widget(question) }}</td>
                    <td>{{ form_label(question) }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <button class="btn btn-block btn-primary bg-info " type="submit">{% trans %}Create Quiz{% endtrans %}</button>
    </div>

    {{ form_end(CreateQuizForm) }}

    </div>

    <script>
        $(document).ready(function () {
            let table = $('#q-table').DataTable({
                responsive: true,
                "paging": false,
                "ordering": false,
                "info": false,
                "dom": '<"toolbar">frtip'
            });
            $('#q-table_filter').css('display', 'none');

            $("div.toolbar").html('<input type="search" class="form-control" placeholder="{% trans %}search questions{% endtrans %}" id="query" aria-controls="q-table">');
            $('#query').click(function () {
                if ($('.table-hide').css('display') === 'none') $('.table-hide').css('display', 'block');
                else
                    $('.table-hide').css('display', 'none');
            }).keyup(function () {
                table.search($('#query').val()).draw();
            });

        });
    </script>

{% endblock %}
