{% extends 'admin_base.twig' %}

{% block title %}Quiz creation{% endblock %}

{% block content %}


    <div class="col-12 col-lg-4 col-md-4 mt-4 mb-4">
        {{ form_start(CreateQuizForm) }}
        <div class="form-group input-group">
            <div class="alert-danger text-center">{{ error }}</div>
            {{ form_widget(CreateQuizForm.quizName, {'attr': {'class': 'form-control',
                'placeholder': "Enter Quiz name"}}) }}
        </div>
{#        <button class="btn btn-block btn-primary btn-hide" type="button">Choose questions</button>#}

{#        <div class="table-hide" style="display: none; ">#}
            <table class="table table-hide" id="q-table" style="display: none;">
                <thead>
                <tr>
                    <th></th>
                    <th>question</th>
                </tr>
                </thead>
                <tbody>
                {% for question in CreateQuizForm.quizQuestions %}
                    <tr>
                        <td>{{ form_widget(question) }}</td>
                        <td>{{ form_label(question) }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <button class="btn btn-block btn-primary bg-info " type="submit">Create Quiz</button>
        </div>

        {{ form_end(CreateQuizForm) }}

    </div>

    <script>
        $(document).ready(function () {
            $('#q-table').DataTable({
                "paging": false,
                "ordering": false,
                "info": false,
                language: {
                    searchPlaceholder: "search questions",
                    search: "",
                }
            });
            $('#Tab_filter').replaceWith("<div id='Tab_filter' class='dataTables_filter'><label>Search:<input class='' placeholder='Search' aria-controls='Tab' type='search'></label></div>");
            $('.form-control-sm').click(function () {
                if ($('.table-hide').css('display') === 'none')
                    $('.table-hide').css('display', 'block');
                else
                    $('.table-hide').css('display', 'none');
            });
        });
    </script>

{% endblock %}
