{% extends 'admin_base.twig' %}

{% block title %}Quiz creation{% endblock %}

{% block content %}


    <div class="col-12 col-lg-4 col-md-4">
        {{ form_start(CreateQuizForm) }}

        <div class="container-fluid">
            <div class="alert-danger">{{ error }}</div>
            <div>{{ form_label(CreateQuizForm.quizName) }}</div>
            <div>{{ form_widget(CreateQuizForm.quizName) }}</div>
        </div>
        <button class="btn btn-primary btn-hide" type="button">Choose questions</button>
        <div class="table-hide" style="display: none; ">

            <table class="table" id="q-table">
                <thead>
                <tr>
                    <th></th>
                    <th>question</th>
                </tr>
                </thead>
                <tbody>
                {% for question in CreateQuizForm.quizQuestions %}
                    <tr>
                        <td>{{ form_widget(question) }}</td>
                        <td>{{ form_label(question) }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        <div class="container-fluid">
            <button class="btn btn-primary bg-info " type="submit">Create Quiz</button>
        </div>
        {{ form_end(CreateQuizForm) }}
        {# </div> #}
    </div>

    <script>

        $(document).ready(function () {
            $('#q-table').DataTable({
                "paging": false,
                "ordering": false,
                "info": false,
            });
            $('.btn-hide').click(function () {
                if ($('.table-hide').css('display') === 'none')
                    $('.table-hide').css('display', 'block');
                else
                    $('.table-hide').css('display', 'none');
            });
            // $('.btn-hide').click(function () {
            //     $('.table-hide').slideToggle(300);
            //     return false;
            // });
        });

    </script>

{% endblock %}

