{% extends 'base.html.twig' %}

{% block title %}Quizzes list{% endblock %}

{% block navigation %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('mainpage') }}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('quizzes') }}">Quizzes</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                     aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="{{ path('app_logout') }}">logout</a>
                </div>
            </li>
        </ul>
    </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container mt-4 mb-4">
        <div class="row">
            {% if quizzes %}
                {% for quiz in quizzes %}
                    <div class="col-sm-4 mb-4">
                        <div class="card card-cascade wider">
                            <div class="view view-cascade gradient-card-header blue-gradient p-4">
                                <h2 class="card-header-title text-center text-white mt-4 mb-3">{{ quiz.name }}</h2>
                                <p class="card-header-subtitle mb-0">   </p>
                            </div>
                            <div class="card-body card-body-cascade text-center">
                                {% if quiz.status %}
                                    <a class="btn btn-unique" value="{{ quiz.id }}"
                                       href="{{ path('play_quiz', {"id": quiz.id}) }}">Play</a>
                                {% else %}
                                    <a class="btn btn-info disabled" value="{{ quiz.id }}"
                                       href="{{ path('play_quiz', {"id": quiz.id}) }}">Play</a>
                                {% endif %}
                            </div>
                            <div class="card-footer text-muted text-center mt-4">
                                <div class="float-left">
                                    {% if quiz.status %}
                                        <i class="fa fa-lock-open pr-1"> </i>
                                    {% else %}
                                        <i class="fa fa-lock pr-1"> </i>
                                    {% endif %}
                                </div>
                                <div class="float-right">
                                    <i class="fa fa-user pr-1"> </i>
                                    {{ quiz.count }}
                                </div>
                                <div>
                                    <i class="fa fa-trophy pr-1"> </i> {{ quiz.leader }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}