{% extends 'base.html.twig' %}

{% block title %}Hello AdminUsersController!{% endblock %}

{% block content %}
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">Left</button>
        <button type="button" class="btn btn-secondary">Middle</button>
        <button type="button" class="btn btn-secondary">Right</button>
    </div>
    <table class="table" id="usertable">
        <thead>
        <tr>
            <th scope="col">{{ knp_pagination_sortable(users, 'id', 'u.id') }}</th>

            <th scope="col"{% if users.isSorted('u.username') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(users, 'Users', 'u.username') }}</th>
            <th scope="col"{% if users.isSorted('u.email') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(users, 'Email', 'u.email') }}
            </th>
            <th scope="col">Roles</th>
            <th scope="col" {% if users.isSorted('u.status') %} class="sorted"{% endif %}>
                {{ knp_pagination_sortable(users, 'Status', 'u.status') }}
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if users %}
            {% for user in users %}
                <tr>
                    <td scope="col">{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles | json_encode }}</td>
                    {% if user.status %}
                        <td>active</td>
                    {% else %}
                        <td>not active</td>
                    {% endif %}
                    <td><a class="btn btn-danger" value="{{ user.id }}" href="{{ path('delete_user', {"id": user.id})  }};">Delete</a></td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(users) }}
    </div>

{% endblock %}
