{% extends 'admin_base.twig' %}


{% block title %}Quizzes manager{% endblock %}

{% block navigation %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('mainpage') }}">{% trans %}Admin Home{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_users') }}">{% trans %}Users control{% endtrans %}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" href="{{ path('admin_quizes') }}">{% trans %}Quizzes control{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_questions') }}">{% trans %}Questions control{% endtrans %}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    {% trans %}Create{% endtrans %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('initial_create_question') }}">{% trans %}Create Question{% endtrans %}</a>
                    <a class="dropdown-item" href="{{ path('create_quiz') }}">{% trans %}Create Quiz{% endtrans %}</a>
                </div>
            </li>
        </ul>
        <a class="nav-link btn btn-outline-info" href="{{ path('app_logout') }}">{% trans %}logout{% endtrans %}</a>
    </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container mt-4 mb-4">
        <div class="row">
            {% if quizzes %}

                {% for quiz in quizzes %}
                    <div class="col-sm-4 mb-4">
                        <div class="card card-cascade wider">
                            <div class="view view-cascade gradient-card-header blue-gradient p-4">
                                <h2 class="card-header-title text-center text-white mt-4 mb-3">{{ quiz.name }}</h2>
                            </div>
                            <div class="card-body card-body-cascade text-center">

                                <p class="card-text">
                                <ul>
{#                                    {% for quizQuestion in quizQuestions %}#}
{#                                        <li>{{ quizQuestion.question.id }}</li>#}
{#                                    {% endfor %}#}

                                </ul>
                                </p>
                                {% if quiz.status %}
                                    <a class="btn btn-outline-warning" value="{{ quiz.id }}"
                                       href="{{ path('block_quiz', {'id': quiz.id}) }}">{% trans %}Block{% endtrans %}</a>
                                {% else %}

                                    <a class="btn btn-outline-warning" value="{{ quiz.id }}"
                                       href="{{ path('unblock_quiz', {'id': quiz.id}) }}">{% trans %}Unblock{% endtrans %}</a>
                                {% endif %}
                                <a class="btn btn-outline-danger" value="{{ quiz.id }}"
                                   href="{{ path('delete_quiz', {"id": quiz.id}) }}">{% trans %}Delete{% endtrans %}</a>

                            </div>
                            <div class="card-footer text-muted text-center mt-4">
                                <div class="float-left">
                                    {{ quiz.createdAt|date('d-m-Y') }}
                                </div>
                                <div class="float-right">
                                    {% if quiz.status %}
                                        <div>{% trans %}active{% endtrans %}</div>
                                    {% else %}
                                        <div class="">{% trans %}blocked{% endtrans %}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% block js %}
        <script>
            $(document).ready(function () {
                $('#usertable').DataTable();
            });
        </script>
    {% endblock %}

{% endblock %}




