{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}
{% block navigation %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('quizzes') }}">Quizzes</a>
            </li>

        </ul>
        <a class="nav-link btn btn-outline-info" href="{{ path('app_logout') }}">logout</a>
    </div>
{% endblock %}
{% block content %}

    <div class="col-12 col-lg-4 col-md-4 ">
        <div class="" style="padding: 30px; margin: 30% auto">
            <div class="card" >
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">{{ qq.question.content }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    {% for answer in answers %}
                        <a class="list-group-item list-group-item-action"
                           href="{{ path('quiz_check',{"id":qq.id, "quizId":quizId, "answerId":answer.id}) }}">{{ answer.content }}</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
