{% extends 'base.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('/public/assets/framework/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/r-2.2.6/datatables.min.css"/>

    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/r-2.2.6/datatables.min.js"></script>
{% endblock %}

    {% block navigation %}

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('mainpage') }}">{% trans %}Admin Home{% endtrans %}<span
                                    class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_users') }}">{% trans %}Users control{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('admin_quizes') }}">{% trans %}Quizzes control{% endtrans %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_questions') }}">{% trans %}Questions control{% endtrans %}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans %}Create{% endtrans %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('initial_create_question') }}">{% trans %}Create Question{% endtrans %}</a>
                            <a class="dropdown-item" href="{{ path('create_quiz') }}">{% trans %}Create Quiz{% endtrans %}</a>
                        </div>
                    </li>

                </ul>
                <a class="nav-link btn btn-outline-info" href="{{ path('app_logout') }}">{% trans %}logout{% endtrans %}</a>
            </div>
        </nav>
    {% endblock %}



