{% extends 'base.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('/public/assets/framework/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}

    {% block navigation %}

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('mainpage') }}">Admin Home<span
                                    class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_users') }}">Users control</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="{{ path('mainpage') }}">Quizzes control</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_questions') }}">Questions control</a>
                    </li>
                </ul>
                <a class="nav-link btn btn-secondary" href="{{ path('app_logout') }}">logout</a>
            </div>
        </nav>
    {% endblock %}



